@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Montserrat-Light.otf') format('opentype'),
        url('../fonts/Montserrat-Light.woff') format('woff'), 
        url('../fonts/Montserrat-Light.ttf') format('truetype'), 
        url('../fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
.workspace {
    width: 67%;
    display: inline-block;
    padding-top: 7px;
}
.workspace_left {
    float: left;
    margin-right: 25px;
    width: 24.5%;
}
.workspace_right {
    float: left;
    width: 73%;
}
.workspace .workflow_table {
    width: 100%;
    max-width: 100%;
    background: transparent;
}
.workspace .workflow_table .table,
.workspace .workflow_table .th,
.workspace .workflow_table .td {
    background: transparent;
}
.workspace .package_class_info p {
    margin-bottom: 6px;
}
.workspace .package_class_info {
    min-height: 256px;
    margin-bottom: 30px;
}
.workspace .workflow_table {
    margin-left: 0;
    margin-top: -10px;
}
.workspace_bottom {
    display: inline-block;
    width: 100%;
}
.portlet.box>.portlet-title>.tools>a.expand {
    background-image: url(../../../global/img/portlet-collapse-icon-white.png);
}
.portlet.box>.portlet-title>.tools>a.collapse {
    background-image: url(../../../global/img/portlet-expand-icon-white.png);
}
.portlet.box.red>.portlet-title>.caption,
.portlet.box.red>.portlet-title>.caption>i {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}
.portlet.box.red>.portlet-title,
.portlet.red,
.portlet>.portlet-body.red {
    background-color: #c20a0a;
}
.workspace .portlet.box>.portlet-body {
    background-color: #f1f1f1;
    padding: 22px 27px;
}
.portlet.box.red {
    border: 0;
}
.portlet.box>.portlet-title>.caption {
    padding: 16px 15px 9px;
}
.portlet>.portlet-title {
    min-height: 50px;
}
.workspace_bottom input[type=file] {
    outline: none;
    display: block;
    background: #fff;
    margin-top: 5px;
    padding: 4px 10px;
    border: 1px solid #dfdfdf;
    width: 49%;
    margin-bottom: 20px;
}
.workspace_bottom textarea {
    outline: none;
    display: block;
    width: 100%;
    height: 74px;
    margin-bottom: 12px;
    padding: 6px 18px;
    border: 1px solid #dfdfdf;
}
.portlet>.portlet-title>.tools {
    float: right;
    display: inline-block;
    padding: 15px 21px 8px;
}
.submit_btnn {
    text-align: right;
}
.w_revised {
    margin-bottom: 30px;
}
.workflow_form .accordion .panel-title a {
    font-size: 16px;
    color: #323232;
    font-family: 'OpenSans-Bold';
}
.workflow_form .accordion .panel.panel-default {
    margin-bottom: 25px;
}
.workflow_form .panel-heading.active {
    background: #c20a0a;
    border-color: #c20a0a;
}
.workflow_form .panel-heading.active .panel-title a {
    color: #fff;
}
.workflow_form .panel-default>.panel-heading+.panel-collapse>.panel-body {
    background: #f1f1f1;
    border:0;
    border-top: 1px solid #fff;

}
.panel-default>.panel-heading{
    border:0;
}
.panel-default {
    border-color: transparent;
}
.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled {
    background: url(../../../global/img/portlet-collapse-icon_a.png) right no-repeat;
    margin-right: 0;
    border:1px solid #dcdcdc;
    background-position: 98% 50%;
}
.accordion .panel .panel-heading.active .panel-title .accordion-toggle.accordion-toggle-styled {
    background: url(../../../global/img/portlet-expand-icon-white.png) right no-repeat;
    margin-right:0;
    background-position: 98% 50%;
}
.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled.collapsed{
    background-position: 98% 50%;
    border-color: #39a95e;
}


.workflow_form .accordion .panel .panel-title .accordion-toggle {
    display: block;
    padding: 17px 23px;
}

.workflow_form .panel-body {
    padding: 19px 23px;
    background: #f1f1f1;
    border-bottom: 1px solid #fff;
}
.workflow_form .panel-body:last-child{
    border-bottom: 0px;
}
.c_row {
    display: inline-block;
    width: 100%;
}
.c_row label{ display:block;     margin-bottom: 8px;     font-size: 14px;}
.c_row .c_left{float: left; width: 48.5%}
.c_row .c_right{float: right; width: 49%;}
.c_row input[type="text"],.c_row input[type="file"],.c_row textarea{
    border: 1px solid #e1e1e1; background: #fff; height: 35px; width: 100%;     margin-bottom: 3px; padding: 0 20px;
}
.c_row textarea{
    height: 100px;
    padding-top: 10px;
}
.c_row input[type="file"]{
    padding-top:6px;
}
.c_row button.btn.default {
    background-color: #fff;
    border-color: #e1e1e1;
    margin-top: -3px;
    padding-bottom: 7px;
    border-left: 0;}

.c_right_left {
    float: left;
    width: 65.5%;
}
.c_right_right {
    float: right;
    width: 29%;
}
.c_row .input-medium {
    width: 100% !important;
}
.c_row .input-medium.date input[type="text"]{
    padding: 0 10px;
}
.grey_row{ background: #e6e6e6; display: inline-block;
           width: 100%; padding: 15px;}
.grey_row span{ font-style: italic; color: #c41c1c; font-size: 14px; padding-right: 5px;     padding-top: 7px;
                display: inline-block;}
.grey_row_left{float: left; padding-top:0px;}
.grey_row_right{float: right;}
.grey_row .red_btn {
    border-radius: 0px !important;
    padding: 8px 15px;
    font-weight: normal;
    font-size: 14px;
}
.others_text textarea{ height: 105px; resize: none;}
.icheckbox_minimal-grey{background-color: #fff ;}
.form-group.checklist {    display: inline-block;    margin: 0;    vertical-align: text-bottom;    padding-left: 5px;}
.grey_btnnn{    border-radius: 0px !important;    padding: 8px 15px;    font-weight: normal;    font-size: 14px; color: #fff; border:0;  outline:none; background: #595959; margin-right: 15px;} 


.workf_form .right_btn{margin:0;}

.accordion .panel .panel-title .accordion-toggle.accordion-toggle-styled.collapsed.green-border{ border-color: #39a95e;}

.w_revised label{font-weight: 700;} 
.w_revised p{ margin-top: 10px; margin-bottom: 15px;}

.workspace_bottom h4{ color: #828282; font-size: 20px; font-family: 'opensans-semibold-webfont';}

.workspace_bottom .red_text {
    color: #ff402f;
    font-size: 14px;
    font-family: 'OpenSans-Bold';
    margin: 25px 0 40px;
    display:block;
}
.workspace_bottom .red_text:before {
    content: '';
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 31px;
    background: url(../img/pdf_img.png)no-repeat;
    margin: 0px 7px 0px 0;
}
.workspace_mainsuper_right{ display:inline-block; width: 31.5%; vertical-align: top; float: right;     margin-top: -3px;}
.workspace_mainsuper_right.support_msg_box {
    width: 100%;
    display: inline-block;
    margin: 11px 2px;
}
.support_msg_box .comment_box_main_content{max-height: 565px;min-height: 565px;}
.comment_box_main_title{ background: #f1f1f1; padding: 15px 20px;    border-bottom: 1px solid #fff;}
.comment_box_main{ width: 100%;}
.comment_box_main h2{font-size: 16px;    font-family: 'OpenSans-Bold'; font-weight: 700; margin: 0;}
.comment_box_main_content{ padding:10px 5px; background:#e6e6e6; display: inline-block; max-height: 625px; min-height: 625px; overflow:auto;width: 100%;}

.comment_box_main_content span {
    color: #8e8e8e;
    font-size: 12px;
    text-align: right;
    display: block;
    font-family: 'OpenSans-Light';
}
.comment_box_main_content p {
    color: #525252;
    font-size: 14px;
    margin: 0;
    line-height: 17px;
    padding-bottom: 14px;
}
.comment_box_main_content p:nth-last-of-type(1) {
    padding-bottom: 0px;
}
.chat_text{ background: #fff; padding: 10px;}

.chat_left .chat_image {
    float: left;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.chat_left .chat_text{float:left; width: 80%;}
.chat_right .chat_image {
    float: right;
    width: 40px;
    height: 40px;
    overflow: hidden;
}
.commentbox_section .chat_left .chat_text{float:left; width: 95%;}
.commentbox_section .chat_right .chat_text{float:right; width: 95%;}
.chat_right .chat_text{float:right; width: 80%;}
.chat_right{ margin-top:10px; display: inline-block; width: 100%; text-align: right;}
.chat_left{ margin-top:10px; display: inline-block; width: 100%; text-align: left;}
.chat_form{padding:15px 10px; border:1px solid #e7e7e7; display: inline-block; width:100%;     margin-top: -5px;}
.chat_form textarea{ border: 1px solid #c2cad8; padding: 10px 20px; height: 65px; outline: none; width:100%; resize:none; }
.chat_form .red_btn {
    border-radius: 0px !important;
    padding: 8px 15px;
    font-weight: normal;
    font-size: 14px;
    text-transform: capitalize;
    float: right;
    margin-top: 10px;
    font-family: 'OpenSans';
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ background-color: #bababa;border-radius: 10px !important;}
.reviewer_workspace .grey_row {padding: 15px 23px 15px;}
.page-content{height:100%;}
.dashboard_section .page-content{height: auto;}
img.lock_img {
    margin: 0 10px;

    vertical-align: top;
}
/**********************/
.quick_links a.grey_btn {
    font-family: 'OpenSans';
    display: inline-block;
    font-size: 16px;
    background-color: #a09e9e;
    padding: 4px 13px;
    border-radius: 0px !important;
    margin-left: 5px;
    color: #fff;
}
.reviewer_workspace .submit_btnn {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    text-align: right;
}
.dat_calender button.btn.default,.dat_calender input[type="text"]{
    pointer-events: none;
}
.reviewer_resume_section p, ul.resume_detail li ,.reviewer_resume_section .detail h6{
    font-family: 'Montserrat-Light';
    font-size: 14px;
    color: #000;
    margin-bottom: 10px;
    margin-top: 0;
}
.reviewer_resume_section .detail h6{
    font-family: 'OpenSans-Bold';
    margin-top: 20px;
}
.reviewer_resume_section .w_revised h3 {
    margin: 20px auto;
    font-family: 'Montserrat-Light';
    font-size: 24px;
    color: #333333;
}
.reviewer_resume_section.resume_section h4{
    font-size: 24px;
}
.reviewer_resume_section .w_revised{
    margin-bottom:0;
}
.reviewer_resume_section{padding: 64px 0 40px;}
.resume_img {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.resume_img_text {
    display: inline-block;
    vertical-align: top;
}
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.reviewer_resume_section .resume_img_text p,.reviewer_resume_section .resume_img_text a{
    margin: 0 auto;
}
.entry-title {
    font-size: 20px;
    margin-top: 0;
    padding-top: 0;
    font-family: 'Montserrat-Light';
    line-height: 22px;
    color: #404040;
    margin-bottom: 17px;
}
.entry-title:after {
    position: relative;
    margin-top:6px;
    z-index: 1;
    content: "";
    width: 10%;
    height: 2px;
    background: #e96656;
    display: block;
}
.resume_img img {
    display: inline;
    float: left;
    margin-right: 1.5em;
}
.reviewer_resume_section .few_text{
    margin-top: 10px;
}
.reviewer_resume_section .few_text h4 {
    margin-bottom: 23px;
}
.reviewer_resume_section .project_text{
    margin-top: 10px;
}
section.resume_section.preview.reviewer_resume_section {
    padding: 10px 0px 40px;
}



/*.resume_section  ul.resume_detail {
    padding-left: 15px;
}*/
.reviewer_resume_section .thank_text{
    margin-top: 24px;
}
@media (max-width:1780px){
    .workspace .package_class_info {    min-height: 256px;    padding: 8px 20px;}
    .workspace {    width: 78%;}
    .workspace_mainsuper_right{ width:20.5%;}
}

@media (max-width:1580px){
    .workspace {    width: 100%;}
    .workspace_right {     width: 72%;}
    .workspace .package_class_info {    min-height: 100%;    margin-bottom: 25px;}
    .workspace .package_class_info p { line-height: normal;    min-height: 100%;}
    .workspace_left{ margin-right: 24px;}
    .c_right_left {    float: left;    width: 50%;}
    .c_right_right {    float: right;    width: 48%;}
    .grey_row span{ font-size: 15px;}
    .workflow_form .accordion .panel .panel-title .accordion-toggle {   padding: 12px 20px;}
    .workspace_mainsuper_right {    width: 100%;    float: none;    margin: 20px 0;}
    .comment_box_main {    width: 100%;}
    .chat_right { margin-top: 10px;}
}
@media (max-width: 1250px){
    .commentbox_section .chat_left .chat_text{width: 94%;}
    .commentbox_section .chat_left .chat_text{float:left; width: 94%;}
    .commentbox_section .chat_right .chat_text{float:right; width: 94%;}
}
@media (max-width:1024px){
    .commentbox_section .chat_left .chat_text{width: 93%;}
    .commentbox_section .chat_right .chat_text { width: 93%;}
    .reviewer_resume_section .w_revised h3{font-size: 30px;}
}
@media (max-width:991px){
    .workspace .package_class_info {    padding: 8px 10px;}
    .reviewer_resume_section .w_revised h3{font-size: 24px;}
    .resume_section.preview  h4 {font-size: 20px;}

}

@media (max-width:767px){
    .workspace_left {    float: none;    margin-right: 0;    width: 50%;    margin: auto;}
    .workspace_right {    width: 100%;}
    .workspace_bottom input[type=file]{ width: 100%;}
    .grey_btnnn{    margin-right: 0px;}
    .grey_row span {    font-size: 13px;padding-right: 0px;width: 100%;}
    .grey_row{    text-align: center;}
    .grey_row_left {float: none;}
    .grey_row_right {    float: none;    margin-top: 15px;    display: inline-block;}
    .workf_form .right_btn {    margin: 0;    display: inline-block;    text-align: center;}
    .submit_btnn {    text-align: center;}
    .workspace_bottom h4 {font-size: 18px;}
    .c_row label {font-size: 13px;}
    .commentbox_section .chat_right .chat_text { width: 92%;}
    .commentbox_section .chat_left .chat_text { width: 92%;}
    .quick_links a.grey_btn {font-size: 14px;padding: 4px 6px; margin-left: 2px;}
    .reviewer_workspace .submit_btnn{text-align: center;}
    .reviewer_resume_section p, ul.resume_detail li{text-align: center;margin-bottom: 5px;}
    .resume_section .pdf_a{display: block;text-align: center;margin-bottom: 5px;font-size: 14px;}
    .reviewer_resume_section p{margin-bottom: 5px;margin-top: 0;}
    .reviewer_resume_section p a { margin-bottom: 0;font-size: 14px;}
    .resume_img,.resume_img_text {width: 100%;}
    .entry-title{text-align: center;}
    .entry-title:after{margin: 4px auto 0;width: 100px;}
    ul.resume_detail li{list-style: none;}
    ul.resume_detail li:before{ content: ''; width: 5px; height: 5px;border-radius: 50%; background: #7f7f7f; display: inline-block; vertical-align: middle;  margin-right: 5px;}
    .resume_img img {display: block;float: none;margin: 0 auto;}
    .reviewer_resume_section .resume_img_text p, .reviewer_resume_section .resume_img_text a {margin: 0 auto 5px;}
    .reviewer_resume_section .w_revised h3{font-size:26px ;text-align: center;}
    .resume_section.preview  h4 {font-size: 18px;text-align: center; display: block;margin: 20px auto;}
    .reviewer_resume_section .detail h6{text-align: center;}
    .reviewer_resume_section .project_detail img{margin: 0 auto; display: block;}
    .resume_section  ul.resume_detail { padding-left: 0;}
    .reviewer_resume_section .project_text { margin-top: 30px;}
    .reviewer_resume_section .few_text { margin-top: 0;}
    .reviewer_resume_section {padding: 30px 0;}
}

@media (max-width: 710px){
    .commentbox_section .chat_right .chat_text { width: 90%;}
    .commentbox_section .chat_left .chat_text { width: 90%;}
}
@media (max-width:567px){
    .workspace_bottom {    margin-top: 15px;}
    .c_row .c_left {    float: none;    width: 100%;}
    .c_row .c_right {    float: none;    width: 100%;}
    .c_right_left {float: none;width: 100%;}
    .c_right_right {float: none;width: 100%;}
    .commentbox_section .chat_right .chat_text, .commentbox_section .chat_left .chat_text { width: 89%;}     

}
@media (max-width:479px){
    .workspace_right .workflow_table .table{ margin-bottom: 30px;}
    .workspace .workflow_table{ overflow: auto;}
    .workspace_left{ width: 80%;}
    .reviewer_resume_section .w_revised h3{font-size: 20px;}
    .resume_section.preview  h4 {font-size: 16px;}
}
@media (max-width: 440px){
    .commentbox_section .chat_right .chat_text, .commentbox_section .chat_left .chat_text { width: 84%;}     
}
@media (max-width: 360px){
    .commentbox_section .chat_right .chat_text, .commentbox_section .chat_left .chat_text { width: 80%;}     
}
